*{
    box-sizing: border-box;
}
/* estilos a etiquetas*/
body{
    padding: 0 5%;
}

/*Estilos para titulos*/
.title{
    font-family: 'Oswald', sans-serif;
}


.section-menu__principal{
    display: flex;
    width: 100%;
}


/*Menu de opciones*/
.menu-principal__opciones{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


.menu-principal__links{
    text-decoration: none;
    text-align: right;
}

