*{
    box-sizing: border-box;
}
/* estilos a etiquetas*/
html{
    min-width: 320px;
}
body{
    margin: 0;
    padding: 5px 30px;
    font-family: sans-serif;
}

footer{
    padding: 20px 0;
}
/*Estilos para la imagen principal*/
.my-photo{
    display: none;
}

/*Estilos para titulos*/
.title{
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    font-weight: lighter;
}
/*Estilos para el nombre*/
.name{
    font-weight: bold;
    display: block;
}

/*Estilos para la seccion del menu*/
.section-menu__principal{
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid tomato;
}
/*Estilos para el icono del menu principal*/
.icon-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}
/*Estilos para el icono del menu principal*/
.icon-menu img{
    width: 100%;
    margin: 0;
    padding: 0;
}
/*Menu de opciones Escondido*/
.menu-principal__opciones{
    display: flex;
    flex-direction: column;
    width: 40%;
    max-height: 0;
    overflow: hidden;
    transition: all 1s;
}
/*Estilo para cuando se despliega el menu*/
.mostrar{
    max-height: 200px;
}

/*Estilos para cada uno de los enlaces del menu*/
.menu-principal__links{
    text-decoration: none;
    color: gray;
    padding: 5px 0;
}
/*Estilos cuando se hace hover sobre los links del menu*/
.menu-principal__links:hover{
    color: black;
}


/*section-tabs----------------------------------*/

/*Section about-articles*/
/*Estilo general para cada uno de los articles*/
.section-about__articles{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: flex-start;
}
/*Estilo para esconder los paneles*/
.panel{
    position: absolute;
    display: none;
}
/*Estilos para cuando el panel está activo*/
.panel.active{
    position: relative;
    display: flex;
    flex-direction: column;
    animation-name: entrada;
    animation-duration: 2s;
}
/*Animacion de entrada cuando se selecciona un panel*/
@keyframes entrada {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

/*estilos para los contenedores de los videos*/
.media{
    position: absolute;
    display: none;
    width: 100%;
    max-width: 1024px;
    margin: auto;
    padding: 20px;
}

.media.active{
    position: relative;
    display: flex;
    flex-direction: column;
    animation-name: entrada;
    animation-duration: 2s;
}

/*Estilos para los botones*/
.button{
    padding: 5px 10px;;
    margin: 15px auto;
    background: #4A78FF;
    border-radius: 5%;
    border: none;
    color: white;
    width: 100px;
}
/*estilo al pasar el mouse por encima del enlace*/
.button:hover{
    background: rgb(23, 78, 243);
}

/*Estilos para una pantalla de ancho igual a 768px*/
@media only screen and (min-width: 768px){
    body{
        padding: 0;
        height: 100vh;
    }

   .my-photo{
       display: inline-block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: 30px;
   }



   .section-menu__principal{
       justify-content: space-around;
        margin-right: 50px;
        margin-left: 50px;
   }

   .menu-principal__opciones{
       margin: auto 50px;
       font-size: 20px;
   }

   .section-about{
       margin: auto 50px;
   }
    .media{
        width: 100%;
        max-width: 500px;
        margin: auto;
    }
   .videos{
       height: 320px;
   }

   .button{
    width: 150px;
   }
}

/*Estilos para una pantalla de ancho igual a 1024px*/
@media only screen and (min-width: 1024px){
   html,body{
    height: 100vh;
   }

   .container-principal{
       display: flex;
       height: 100%;
   }

   .icon-menu-a{
       display: none;
   }
   .section-menu{
       height: 100vh;;
       width: 25%;
       background: black;
   }
   .title-name{
       color: white;
   }
   .menu-principal__opciones{
        overflow:unset; 
        padding-top: 30px;
    }

    .menu-principal__links{
        padding-top: 15px;
        color: white;
    }

    
    .menu-principal__links.active{
        color: tomato;
    }

    .menu-principal__links:hover{
        color: tomato;
    }

    .section-about{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 10px 0 0 #aaaaaa inset;
        margin: auto;
    }
    .videos{
        width: 520px;
    }
   .button{
    width: 200px;
   }
}
